td {
    width: 20px;
    height:20px;
    text-align: left;
    vertical-align: top;
}

table {
    background-color: #eee;
}

body {
    background-color: #222;
    color: #eee;
    font-family: Consolas, "Courier New", monospace;
    font-weight: bold;
}

input {
    border: #eee solid 1px;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    font-weight: inherit;
}

button {
    border: #eee solid 1px;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    font-weight: inherit;
}

.blank {
    background-color: #222;
}

.blank:hover {
    background-color: #444;
}

.visited {
    background-color: #552;
}

.visited:hover {
    background-color: #772;
}

.wall {
    background-color: #808080;
}

.start {
    background-color: forestgreen;
}

.end {
    background-color: darkred;
}

.path {
    background-color: #882;
}

input[type="number"] {
    width: 5ch;
}

button:hover {
    background-color: #444;
}



